.green-text{
    color:green;
}

#red-text{
    color:red;
}

#colours > ul > li:nth-child(3){
    color:white;
    background:blue;
}

#colours > ul > li:last-child{
    color:white;
    background:purple;
}

#fonts > ul > li:first-child{
    font-weight:bold;
}

.italic {
    font-style:italic;
}

#fonts > ul > li:nth-child(3) {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#fonts > ul > li:nth-child(4) {
    font-size: x-large;
}

#fonts > ul > li:nth-child(5) {
    font-weight:bold;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fonts > ul > li:last-child {
    letter-spacing: 4px;
}

.shadow-text {
    text-shadow: 2px 2px red;
}

.box-shadow-any{
    background:lightblue;
    box-shadow: 2px 2px 3px blue;
}

.box-shadow{
    box-shadow:1px 1px grey;
}

.box-shadow-last{
    color:white;
    background:purple;
    box-shadow:4px 4px 5px blue;
}